h1{
    font:Inter ;
    font-size: 48px;
    font-weight: 700 ;
    font-style: Bold;
    color: #30CBC2;
    margin-left: 52px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 40px;
}
a{
    text-decoration: none;
    color:#8D81FF;
    font:FiraGO ;
    font-size: 26px;
    font-weight: 700 ;
    font-style: Bold;
}
#color{
    color: #4E6FAE;
}
#html{
    margin-left: 194px;
    width: 1052px;
    height: 462px;
}
h3{
    color: #4E6FAE;
}
#line{
    width: 2px;
    height: 48px;
    background-color: #5012D5;
    margin: 0 18px;
}
.news{
    display: flex;       
    align-items: center;
    margin-left: 194px;
    margin-top: 120px;
}
.parent{
    margin-left: 194px;
    margin-top: 26px;
}
.child{
    width: 500px;
    height: 192px;
    background-color:#E7E7E7 ;
    display: inline-block;
    vertical-align: baseline;
}
.first{
    margin-right: 52px;
}
h5{
    font: Helvetica Neue LT GEO;
    font-weight: 400;
    font-style: 55 Roman;
    font-size: 20px;
    color: #3F4145;
    margin-top: 26px;
    margin-left: 23px;
    margin-bottom: 20px;
}
.icon{
    width: 77px;
    height: 77px;
    float: left;
    margin-left: 36px;
    margin-right: 37px;
}
p{
    font: Helvetica Neue LT GEO;
    font-weight: 400;
    font-size: 16px;
    color:#7E8898 ;
    font-style:55 Roman;
    margin-right: 15px;
    overflow: hidden
}

#facebook{
    width: 50px;
    height: 50px;
    margin-left: 194px;
    margin-right: 0 !important;
}
#line{
    width: 2px;
    height: 48px;
    background-color: #5012D5;
    display: inline-block;
    margin: 0 41px;

}

#youtube{
    width: 71px;
    height: 49px;
    margin-right: 0 !important;
}
.main {
    display: flex;
    align-items: center; 
    margin-top: 91px;
}